.findPersonWrap{
    font-size: 1.2rem;
}

.hiddenWindow{
    width: 0%;
}

.visibleWindow{
    width: 65%;
    -webkit-transition: width 1s linear;
    -moz-transition: width 1s linear;
    transition: width 1s linear;
}

.findPersonInformation{
    display: flex;
    padding: 1rem;
}

.fullSizeAvatar{
    height: 128px;
    width: 128px;
}

.detailPersonInformation{
    padding: 0 1rem;
}

.stringName{
    font-size: 2rem;
}

.stringJob{
    font-size: 1.5rem;
}

.headerInformation{
    margin-top: 1rem;
    color: #8B8682;
}