.listWindow{
    overflow-y: scroll;
    height:93vh;
}
.listSection{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    font-size: 0.8rem;


}

.listSection:hover{
    background-color: #FFFFFF;
    border: 1px solid #DCDCDC;
    border-radius: 0.5rem;
    transform: matrix(1.1, 0, 0, 1.1, 0, 0);
    width: 80%;

}

.iconAvatar{
    height: 2.5rem;
    width: 2.5rem;
}

.names{
    padding: 0.5rem ;
}