.searchWindow{
    display: flex;
    border: 1px solid 	#DCDCDC;
    height: 7vh;
    background-color: #FFFAFA;
    align-items: center;
}

.searchLine::-moz-placeholder { color: 	#E6E6FA; }
.searchLine::-webkit-input-placeholder { color: #E6E6FA; }
.searchLine{
    width: 100%;
    height: 2rem;
    border: none;
    outline: none;
    -webkit-appearance: none;
    background-color: inherit;
    font-size: 1.5rem;
    text-align: center;
}

.searchIcon{
    width: 2.5rem;
    height: 2.5rem;
    border: none;
}