.App {
    display: flex;
}

.listBox{
    background-color: #F8F8FF;
}

.fullWindow{
    width: 100%;
}

.sectionWindow{
    width: 35%;
    -webkit-transition: width 1s linear;
    -moz-transition: width 1s linear;
    transition: width 1s linear;
}

